name: CI
on:
  push:
    branches:
      - main
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  style:
    name: Check Style
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - uses: Swatinem/rust-cache@v2
      - run: cargo fmt --check --all -- --check

  test:
    name: Test ${{ matrix.rust }} on ${{ matrix.os }}
    needs: [style]
    strategy:
      matrix:
        rust:
          - stable
          - beta
          - nightly
        os:
          - ubuntu-latest
          - windows-latest
          - macOS-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - uses: Swatinem/rust-cache@v2
      - run: cargo test

  build-msrv:
    name: Build with MSRV
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@master
        with:
          # Not the actual MSRV, but 1.56 has issues downloading some of our
          # dependencies from the old git-based crates.io registry...
          # Better than not testing with an older version of Rust at all.
          toolchain: "1.68"
      - uses: Swatinem/rust-cache@v2
      - name: Pin dependencies
        run: |
          cargo update -p itoa --precise 1.0.15
          cargo update -p ryu --precise 1.0.20
          cargo update -p indexmap --precise 2.11.4
          cargo update -p hashbrown --precise 0.15.0
      - run: cargo build
        env:
          CARGO_REGISTRIES_CRATES_IO_PROTOCOL: sparse

  test-min-features:
    name: Build with minimal features
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - run: cargo build --no-default-features --features std
